<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Remote JS execution.</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
              Remote JS
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
    {% block main %}{% endblock %}
    </div>

    {% block extrajs %}{% endblock %}
</body>
</html>